body {
	font-family: "Helvetica Neue", sans-serif;
	padding: 20px;
}

h1 {
	font-weight: 400;
}

table {
	font-family: "Helvetica Neue", sans-serif;
	border-collapse: collapse;
}

td, th {
	border: 2px solid black;
	text-align: left;
}

th {
	background: #FF7B99;
	color: white;
	font-weight: normal;
	padding: 10px;
}

h1 {
	margin-top: 0;
}

td {
	padding: 8px;
}

.header-table {
	width: 100%;
	margin-bottom: 30px;
}

.header-table-data {
	width: 15%;
	font-size: 0.8em;
	padding: 2px;
}

.header-table-title {
	white-space: pre-wrap;
	word-wrap: break-word;
	min-width: 40%;
	font-size: 1.2em;
	padding: 2px;
	text-align: center
}

.header-table-logo {
	padding: 2px;
}

.logo-image {
	width: 100%;
	height: auto;
	margin: 0;
}

.paragraph {
	margin: 30px 0 20px;
}

.box {
	padding: 10px 0 0 0;
}

.label-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px 20px 0 0;
}

img {
	width: 50px;
	height: 50px;
	margin: 0 20px 0 0;
}
